<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
    </head>
    <body>
        <h1>Absent Notify</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
            aspernatur adipisci ut officia ex corrupti veritatis quos rerum, sit
            quidem labore molestiae delectus ullam a totam deserunt excepturi
            ea. Amet.
        </p>
        <hr />
        <p>from : <%= from %></p>
        <p>full_name : <%= full_name %></p>
        <p>absent number : <%= absents_count %></p>
    </body>
</html>
