<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />

        <style>
            * {
                font-family: arial;
            }

            body {
                display: flex;
                justify-content: center;
            }

            .email {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 500px;
            }

            .logo {
                display: flex;
                justify-content: center;
            }

            .logo img {
                width: 220px;
            }

            h1 {
                text-align: center;
            }

            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem;
                border: 3px dotted black;
            }

            .label {
                font-weight: bold;
            }

            footer {
                margin-top: 2rem;
                text-align: center;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="email">
            <div class="logo">
                <img
                    src="https://i.postimg.cc/RZ3Ppz4P/full-black-1.png"
                    alt=""
                />
            </div>

            <!---->

            <h1>
                Your Account <br />
                Information
            </h1>

            <!---->
            <div class="info">
                <p><span class="label">Full name</span> : <%= full_name %></p>
                <p><span class="label">Email</span> : <%= email %></p>
                <p><span class="label">Password</span> : <%= password %></p>
            </div>

            <footer>Hodhor@2024</footer>
        </div>
    </body>
</html>
